<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">

  <link rel="stylesheet" href="{{ site.baseurl }}/css/pygment_syntax.css" type="text/css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css" type="text/css">

</head>
<body>

<div class="container">

<br/>
<a href="{{ site.baseurl }}/index.html">&larr; back to posts list</a>

<hr>

<div class="row">
 <div class="span12">
{{ content }}
 </div>
</div>

</div>

</body>

</html>
